:root {
  --main-color: #0a2958;
  --button-color: #12bebc;
}
/* body {
  overflow: hidden;
} */
.bg-1,
.bg-2 {
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat !important; */
  height: 50vh;
}
.bg-1 {
  background: url("./../img/strawberries-99551_1920.jpg");
}
.bg-2 {
  background: url("./../img/blueberries-3460423_1920.jpg");
}
.zigzag-text {
  position: relative;
  z-index: 2;
}
.zigzag-text::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -4892%;
  background: var(--main-color);
  opacity: 0.8;
  content: "";
  width: 5000%;
  height: 50vh;
  transform: skew(8deg);
}
section.bg-2 .zigzag-text::after {
  left: auto;
  right: -4887%;
}
.new-boxed-btn {
  background: var(--button-color);
  border-color: var(--button-color) !important;
  transition: all 0.5s ease-in-out;
}
.new-boxed-btn:hover {
  background: transparent;
  color: var(--button-color) !important;
  border-color: var(--button-color) !important;
  border-radius: 31px;
}
.zigzag-text p {
  margin-bottom: 55px;
}
.zigzag-text h3 {
  padding-top: 60px;
}
.line {
  height: 10px;
  background: var(--button-color);
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .zigzag-text p {
    margin-bottom: 31px;
    font-size: 15px;
  }
  .zigzag-text h3 {
    padding-top: 35px;
    font-size: 18px;
  }
  .boxed-btn {
    padding: 5px 12px;
    font-weight: 500;
  }

  .zigzag-text::after {
    transform: skew(5deg);
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .zigzag-text::after {
    transform: skew(0deg);
  }
}

@media screen and (max-width: 320px) {
}
