@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
.styled-text {
  font-family: "Mr De Haviland", cursive;
}
.welcome-area {
  background: url("/assets/img/raspberries-2023404_1920.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}
/* header */
/* slider */
.main-menu {
}
.main-menu ul li {
  text-transform: uppercase;
  display: inline-block;
}
.main-menu ul li a {
  color: #fff;
  padding: 30px;
}
