:root {
  --main-color: #30b3a1;
}
/* main-css */
svg {
  color: var(--main-color);
  margin-right: 5px;
}
.bg-form {
  background: var(--main-color);
  padding: 20px;
}
.absolute-text {
  color: #fff;
  opacity: 0.8;
  font-size: 46px;
  line-height: 49px;
  margin-top: -14px;
  text-align: center;
  margin-bottom: 44px;
}
.submit-btn:hover {
  background: transparent !important;
  color: #fff;
}
.submit-btn {
  color: var(--main-color);
}
.contact-form {
  margin: 30px 0;
  margin-left: 100px;
  margin-right: 50px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  color: #666;
  margin-bottom: 10px;
}
.contact-text {
  padding: 69px;
  padding-top: 63px;
}
.contact-text .appointment-text {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-text ul {
  margin-top: 5px;
  margin-left: -32px;
  margin-bottom: 10px;
}
.contact-text ul li {
  padding: 10px 0;
  display: block;
}
.boxed-btn {
  border-color: var(--main-color) !important;
  background: var(--main-color);
  padding: 0px 65px;
}
.boxed-btn:hover {
  background: transparent;
  color: var(--main-color) !important;
}
/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .contact-form {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-form input[type="submit"] {
    width: 65%;
  }
  a.boxed-btn {
    padding: 15px 38px;
  }
  .contact-text {
    padding: 11px;
    padding-top: 49px;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .absolute-text {
    font-size: 39px;
    margin-left: -53px;
  }
  .contact-form {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-form input[type="submit"] {
    width: 65%;
  }
  a.boxed-btn {
    padding: 16px 51px;
  }
  .contact-text {
    margin-left: 50px;
  }
}

@media screen and (max-width: 320px) {
}
