.count-down {
  background: url("/assets/img/blueberries-3460423_1920.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.count-down::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: -1;
  content: "";
}
.event-txt {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.event-txt span {
  font-weight: 800;
}
.event-txt h2 {
  font-size: 47px;
  font-weight: 400;
}
.event-txt h3 {
  font-weight: 400;
}
.event-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.event-form form input {
  background: #fff;
  border: none;
  outline: none;
  padding: 17px 100px;
  font-weight: 700;
  margin: 16px 0;
  border-radius: 32px;
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
}
.event-form form input[type="submit"] {
  background: orangered;
  color: #fff;
  padding: 17px 132px;
}
.styled-icon {
  color: #999;
  position: relative;
}
.styled-icon::after,
.styled-icon::before {
  position: absolute;
  width: 24%;
  background: #999;
  height: 1px;
  top: 14px;
  content: "";
}
.styled-icon::after {
  left: 252px;
}
.styled-icon::before {
  right: 252px;
}
.styled-icon svg {
  font-size: 33px;
}
#count-down-area {
  color: #fff;
}
#count-down-area span {
  font-size: 20px;
  line-height: 40px;
}
.single-count {
  display: inline-block;
  margin-right: 25px;
  font-size: 60px;
  line-height: 70px;
}
