@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");

h1 {
  font-family: "Cherish", cursive;
}
.order-box {
  margin-top: 50px;
}
.food-bg {
  height: 300px;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}
.food-bg1 {
  background: url("/assets/img/blueberries-3460423_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.food-bg2 {
  background: url("/assets/img/raspberries-1495713_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.food-bg3 {
  background: url("/assets/img/berries-2277_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.food-order {
  background: #f5f5f5;
  margin-top: -100px;
  border-top: 4px solid #d0963f;
  margin-right: 29px;
  padding: 30px 0;
  transition: 0.5s;
}
.food-order:hover {
  color: #fff;
  background: #d0963f;
}
.food-order:hover .order-btn {
  border: 2px solid #fff;
  color: #fff;
}
.food-order:hover.food-order h1 {
  color: #fff;
}
.food-order:hover.food-order h2 {
  color: #fff;
}
.food-order h1 {
  transition: 0.5s;
}
.food-order h2 {
  text-transform: uppercase;
  font-weight: 400;
  color: #d0963f;
  font-size: 23px;
  transition: 0.5s;
}
.food-order p {
  margin-top: 29px;
  line-height: 1;
}
.food-order p span {
  font-weight: 600;
  font-size: 32px;
  padding: 0 4px;
}
.order-btn {
  background: transparent;
  color: #d0963f;
  border: 2px solid #d0963f;
  border-radius: 2px;
  font-weight: 400;
  margin-top: 15px;
  padding: 11px 12px;
  font-size: 13px;
}
