/* main css */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Ubuntu:wght@300;700&display=swap");

.playfairDisplay {
  font-family: "Playfair Display", serif;
  font-family: "Ubuntu", sans-serif;
}
/* header */
header {
  margin-top: 50px;
  margin-bottom: 100px;
}
.top-banner h2 {
  font-size: 30px;
  font-weight: 500;
}
.main-menu ul {
  padding: 0;
  margin: 0;
  float: inline-end;
}
.main-menu ul li {
  display: inline-block;
}
.main-menu ul li a {
  font-family: "Playfair Display", serif;
  margin-right: 100px;
  color: #626262;
}

.slider {
  margin-top: 69px;
}
.slider img {
  min-width: 1094px;
}

/* sections */

/* section-1 */
.section-1 {
  margin-top: 24px;
  margin-bottom: 100px;
}
.about-text {
  color: #626262;
}
.about-text h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  line-height: 0;
  text-transform: uppercase;
}
.about-text h5 {
  margin: 40px 0;
  line-height: 0;
  font-family: "Playfair Display", serif;
  font-weight: 200 !important;
  font-size: 32px;
}
.about-text p {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
.about-text a {
  color: #626262;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin-left: 3px;
}

/* section-2 */
.section-2 {
}
.life-style {
}
.life-style-txt {
  margin: 30px 0;
  color: #626262;
}
.life-style-txt h6 {
  line-height: 0;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.life-style-txt h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
.life-style-txt p {
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

/* section-3 */

/* section-4 */

/* footer */
footer {
  background: #f0f0f0;
  color: #000;
}
footer a {
  color: #000;
}
footer a:hover {
  color: #000;
}
