@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  font-family: "Playfair Display", serif;
}
section {
  padding-top: 60px;
  background: #f0f0f0;
}
.header-btn {
  margin-top: 48px;
  padding: 16px 39px;
  background: #5900ff;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 50px;
  color: #fff;
  transition: all 0.7s ease-in-out;
  font-family: "Roboto", sans-serif;
}
.header-btn:hover {
  border-radius: 0;
  color: #fff;
}
