:root {
  --main-color: #3f87f5;
  --black: #151515;
}
p {
  font-style: italic;
}
.lines {
  text-align: center !important;
}
.lines span {
  height: 5px;
  background: var(--main-color);
  display: inline-block;
  width: 75px;
}
.black-line {
  background: var(--black) !important;
  width: 45px !important;
}
.single-comments {
  padding: 29px 3px 29px 100px;
  margin-bottom: 20px;
  font-size: small;
  position: relative;
  border: 1px solid #ddd;
  transition: all 0.5s ease-in-out;
}
.single-comments:hover {
  transform: translate(7px);
  box-shadow: 0 0 10px #ddd;
}
.single-comments span:nth-child(1) {
  position: absolute;
  left: 27px;
  top: 50%;
  color: var(--main-color);
  font-size: 35px;
  line-height: 30px;
  margin-top: -15px;
}
.single-comments span:nth-child(2) {
  position: absolute;
  left: 76px;
  top: 16px;
  height: 83%;
  width: 1px;
  background: #ddd;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
