.section-padding {
  margin-top: 70px;
}
.section-title {
  margin-bottom: 70px;
}
p {
  font-style: italic;
}
.borders {
  text-align: center !important;
}
.borders span {
  text-align: center;
  height: 5px;
  background: #14e90d;
  display: inline-block;
  width: 75px;
  border-radius: 3px;
}
.black-border {
  background: #000 !important;
  width: 47px !important;
  margin: 0 14px;
}
.single-comments {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 3px;
  padding-left: 100px;
  font-size: small;
  position: relative;
  border: 1px solid #666;
  transition: all 0.5s ease-in-out;
}
.single-comments:hover {
  transform: translate(7px);
  box-shadow: 0 0 10px #666666;
}
.single-comments::before {
  position: absolute;
  content: "\f10e";
  left: 27px;
  top: 50%;
  color: #14e90d;
  font-size: 35px;
  line-height: 30px;
  margin-top: -15px;
}
.single-comments::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 16px;
  color: #000;
  height: 83%;
  width: 9px;
}
