:root {
  --main-color: #af9d1d;
  --main-color-light: #af9e1d5e;
}
.section-title span {
  color: var(--main-color);
}
.btn:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color-light);
}
.collapse {
  margin-left: 50px !important;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
  .section-title {
    margin-left: 21px;
  }
  .section-txt button {
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .section-title {
    margin-left: 34px;
  }
  .section-txt button {
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
}
