@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
.styled-text {
  font-family: "Mr De Haviland", cursive;
}
.welcome-area {
  background: url("/assets/img/coffee.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  text-transform: uppercase;
  padding-top: 30px;
}
/* header */

.logo h1 a {
  color: #fff;
  font-size: 28px;
  position: relative;
  z-index: 2;
  letter-spacing: 7px;
}
.logo h1 a::after {
  position: absolute;
  left: -3px;
  bottom: -8px;
  content: "";
  background: #fff;
  width: 100%;
  height: 2px;
}

.main-menu ul li {
  text-transform: uppercase;
  display: inline-block;
  padding: 30px;
}
.main-menu ul li a {
  color: #fff;
  position: relative;
  z-index: 2;
}
.main-menu ul li a::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  background: #fff;
  height: 1px;
  width: 100%;
  content: "";
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.main-menu ul li a:hover::after {
  opacity: 1;
}
/* slider */
.slider {
  display: table;
  width: 100%;
  margin-top: 70px;
}
.slider-tablecell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.styled-text {
  font-style: italic;
  text-transform: capitalize !important;
  font-size: 82px;
  line-height: 13px;
  color: goldenrod;
  position: relative;
  z-index: 1;
}
.styled-text::after {
  position: absolute;
  top: 33px;
  background: goldenrod;
  height: 1px;
  width: 32%;
  content: "";
  transform: rotate(139deg);
  right: 361px;
}
.slider h2 {
  font-size: 34px;
  letter-spacing: 7px;
  line-height: 1.3;
}
.border-icon {
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
  margin-left: 455px;
}

.border-icon svg {
  color: goldenrod;
  font-size: 21px;
  margin-bottom: 20px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.border-icon span {
  float: left;
  overflow: hidden;
  background: #fff;
  height: 2px;
  width: 26%;
  margin-top: 8px;
}

.border-icon span.triagle-1::before {
  position: absolute;
  left: 537px;
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-left: 13px solid #fff;
  border-bottom: 9px solid transparent;
  top: 287px;
}
.border-icon span.triagle-2::before {
  position: absolute;
  right: 559px;
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 13px solid #fff;
  border-bottom: 9px solid transparent;
  top: 287px;
}
.slider p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
}
