:root {
  --main-color: #ffffff;
}
body {
  background: #022242;
  color: #fff;
}
.service-title {
  margin-bottom: 30px;
}
.service-title h1 {
  font-size: 100px;
  position: relative;
}

.service-title h1::before {
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 200px;
  color: linear-gradient(45deg, #1555 0%, #1212 35%, #fff 100%);
  z-index: -1;
  opacity: 0.5;
  content: "Why chose Us?";
}
.service-icon svg {
  color: var(--main-color);
  font-size: 60px;
}
.section-text {
  font-size: 14px;
}

/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .service-title h1::before {
    opacity: 0;
  }
  .section-text {
    font-size: 14px;
    margin-bottom: 32px;
    margin-top: -19px;
    padding: 0 50px;
  }
  .service-icon svg {
    color: #ee536d;
    font-size: 49px;
  }
}

@media screen and (max-width: 320px) {
}
