body .contact {
  background: url("/assets/img/preview56.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 753px;
  width: 1383px;
}
.contact-table {
  background: rgb(160, 193, 215);
  background: linear-gradient(
    73deg,
    rgba(160, 193, 215, 1) 0%,
    rgba(136, 192, 237, 1) 22%,
    rgba(185, 176, 224, 1) 39%,
    rgba(235, 149, 207, 1) 51%,
    rgba(242, 183, 174, 1) 78%,
    rgba(247, 177, 141, 1) 100%
  );
}
header {
  padding-top: 84px;
}
.logo h2 {
  font-weight: 400;
  font-size: 40px;
}
.logo a {
  color: #000;
}
.logo a:hover {
  color: #000;
}
header h5 {
  font-weight: 400;
  line-height: 0;
}
section {
  margin-top: 153px;
  margin-bottom: 183px;
}
.contact-txt {
}
.contact-txt h2 {
  font-size: 47px;
  font-weight: 400;
  margin-bottom: 40px;
}
.contact-txt p {
  font-size: 20px;
}
.contact-txt p a {
  font-weight: 700;
  color: #7c5b78;
}
footer {
}
.copy-right {
}
.copy-right p {
  font-size: 19px;
}
.copy-right p svg {
  margin-right: 5px;
}
.social-icons {
}
.social-icons a {
}
.social-icons a svg {
  font-size: 30px;
  color: #b2acb1;
  margin: 0 14px;
}
