:root {
  --main-color: #3f87f5;
}

h1 {
  font-weight: 700;
  position: relative;
  z-index: 1;
}
h1 span {
  width: 50%;
  height: 12%;
  border-radius: 50px;
  position: absolute;
  top: 50px;
  background: var(--main-color);
  background: linear-gradient(#3f87f5, #3f87f5 0%, #2c6ccc 100%);
  transition: 0.8s;
}
.single-comment {
  padding: 10px 28px;
}
.content {
  display: flex;
  background: var(--main-color);
}
img {
  border-radius: 50%;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: -11%;
}
.slick-prev {
  right: 31px;
  left: auto;
}
.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  background: var(--main-color) !important;
}
.slick-prev::before {
  content: "<";
}
.slick-next::before {
  content: ">";
}
